
footer {
    background-color: rgb(73, 67, 67);
    padding: 0.5rem;
    margin-top: 3rem;
  }
  footer h2 {
    font-family: "Shrikhand", "sans-serif";
    color: white;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    padding: 0.5rem;
  }
  footer p {
    color: white;
    padding: 0.2rem;
  }
  footer i {
    gap: 1rem;
  }