main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background-color: #dad2d2;
    padding: 0.5rem;
    height: 3rem;
  }
  main .city i {
    font-size: 1.5rem;
  }
  main .city h2 {
    font-weight: 400;
  }
  .decorationNone {
    text-decoration: none;
    color: black;
  }
