@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 3px 1px #e0dede;
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 4%;
  width: 96%;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background-color: #d4d4d4;
  padding: 0.5rem;
}

main .city i {
  font-size: 1.5rem;
}

.decorationNone {
  text-decoration: none;
  color: black;
}

.explorer {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 3rem;
}

.explorer h2 {
  margin: 0;
  font-size: 25px;
  padding-top: 2.5rem;
}

.explorer p {
  font-size: 1rem;
}

.explorer button {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 20px;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 1px 8px 17px -7px rgba(0, 0, 0, 0.75);
  transition: 200ms;
  margin-top: 1rem;
}

.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto li {
  list-style-type: none;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
  margin: 1rem;
  box-shadow: 1px 8px 17px -7px rgba(0, 0, 0, 0.75);
  position: relative;
}

.number {
  background-color: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}

.tuto i {
  margin-right: 1rem;
  color: #bbadad;
}

.tuto i:hover {
  color: #9356dc;
}

.tuto {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tuto ol {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }

  .tuto h2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
.menu {
  background-color: #f6f6f6;
}

.menu h2 {
  margin-bottom: 2rem;
  padding: 2rem;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.menu_cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2);
}

.card {
  background-color: white;
  height: auto;
  width: 95%;
  border-radius: 1rem;
  border: none;
  box-shadow: 1px 8px 17px -7px rgba(0, 0, 0, 0.75);
  flex-grow: 1;
}

.card_image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
}

.card_description {
  position: relative;
}

.card_description h3 {
  margin: 0;
  padding-left: 0.4rem;
}

.card_description p {
  margin: 0.3rem;
  margin-bottom: 1rem;
}

.card_description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.card_description .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms case-in-out;
}

.card_description:hover .fa-solid {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  width: 5rem;
  height: 2rem;
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  color: #669287;
  right: 1rem;
  top: 1rem;
}

footer {
  background-color: #494343;
  padding: 0.5rem;
  margin-top: 3rem;
}

footer h2 {
  font-family: "Shrikhand", "sans-serif";
  color: white;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  padding: 0.5rem;
}

footer p {
  color: white;
  padding: 0.2rem;
}

footer i {
  gap: 1rem;
}

body {
  background-color: #f6f6f6;
}

.banner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

#page-resto header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-resto header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 200ms;
}

.resto__title {
  margin-top: -3rem;
}
.resto__title h2 {
  padding: 2rem 1rem;
  font-family: "Shrikhand", "cursive";
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
.resto__title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.resto__title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}
.resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
.resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.resto-main {
  padding: 1rem;
  background-color: #f6f6f6;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }
}
.menu-grid .menu-groupe {
  background-color: white;
}
.menu-grid .menu-groupe .menu-items {
  display: flex;
  overflow: hidden;
  box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
}
.menu-grid .menu-groupe .menu-items .description-items {
  padding: 1rem;
}
.menu-grid .menu-groupe .menu-items .price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menu-grid .menu-groupe .menu-items .items__check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menu-grid .menu-groupe .menu-items i {
  background-color: white;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  color: #99E2D0;
}
.menu-grid .menu-groupe .menu-items:hover .items__check {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
